<div class="jumbotron">
  <center>
    <h1>Welcome to Launchpad's Pizza</h1>
    <img src="https://d3auwaok61spz6.cloudfront.net/content/OnlineOrderingImages/Menu/Items/Half_n_Half.jpg"
    alt="launchpad's pizza">
    <br>
    <!--Titulo, Donde nos va a llevar, Clase-->
    <%= link_to "Check out our Pizzas", pizzas_path, class: "btn btn-default" %>
    
  </center>  
</div>